.character-Card {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 161, 64);
    border: 8px solid rgb(60, 7, 60);
    border-radius: 1rem;
    width: 240px;
    height: 340px;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin: 10px;
    margin-bottom: 17px;
    color: black;
    box-shadow: 3px 3px 15px 1px chartreuse;
    transition: 500ms;
}

.character-Card:hover{
    width: 250px;
    height: 350px;
    box-shadow: 5px 5px 15px 1px chartreuse;
    transition: 500ms;
}

.char-name{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 2px 15px 1px black;
    z-index: 1;
    position: relative;
}

.char-image{
    width:inherit;
    align-self: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 5px 15px 1px black;
    z-index: 0;
    position: relative;
    border: 3px solid rgb(60, 7, 60);
    transition: 500ms;
}

.character-Card:hover .char-image{
    width: 250px;
    border-radius: 1rem;
    transition: 500ms;
}

.char-image.status-dead{
    filter: grayscale(100%);
    transition: 500ms;
}

.char-image.status-dead:hover{
    filter: grayscale(0%);
    transition: 500ms;
}

.status-dead{
    color: rgb(95, 13, 13);
    text-decoration: line-through;
}

.status-unknown{
    color: rgb(58, 57, 57);
}

.clicked>* {
    transform: translateX(-100px);
}