.header {
  position: fixed;
  top: 0px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 25rem;
  background-image: url("../images/Header.png");
  background-size: cover;
  background-position: center;
}

.logo-image {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  height: 120px;
  max-width: 80%;
  z-index: 3;
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.5s;
}

.logo-image-invisible {
  opacity: 0;
  transition: opacity 0.5s;
}

.go-back-button {
  z-index: 5;
  position: absolute;
  top: 5px;
  left: -7.2rem;
  margin-top: 10px;
  width: auto;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  clip-path: polygon(
    0.5em 0%,
    100% 0,
    100% calc(100% - 0.5em),
    calc(100% - 0.5em) 100%,
    0 100%,
    0% 0.5em
  );
  font-weight: 700;
  color: black;
  border-color: black;
  mix-blend-mode: overlay;
  cursor: pointer;
  transition: all 500ms;
  white-space: nowrap;
}

.go-back-button:hover {
  mix-blend-mode: normal;
  color: rgb(40, 0, 3);
  border-color: rgb(40, 0, 3);
  left: 5px;
  transition: all 500ms;
}

#character-title {
  margin-top: 2rem;
  font-size: 6.5vw;
  font-weight: 800;
  color: white;
  mix-blend-mode: overlay;
  -webkit-text-stroke: 2px black;
  letter-spacing: 2.5vw;
  text-shadow: 2px 2px 2px black;
  margin: 0;
  transition: 500ms;
  cursor: default;
}

#character-title:hover,
#character-title:focus {
  text-shadow: 5px 5px 2px black;
  transition: 500ms;
}

.sun-image {
  mix-blend-mode: overlay;
  position: absolute;
  top: 170px;
  mix-blend-mode: normal;
  animation: floating;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.55, 0.35, 0.65, 0.96);
  height: 100px;
  width: auto;
  z-index: 2;
  transition: all 0.5s ease-in;
  transform: scale(2);
  box-shadow: 0px 0px 15px 5px rgba(255, 245, 130, 0.84);
  border-radius: 100%;
}

.sun-little {
  transform: scale(0.7);
  transition: all 0.5s ease-in;
}

a.sun-image {
  display: block;
  opacity: 1;
  cursor: default;
}

@keyframes floating {
  0% {
    top: 50%;
    left: -13%;
  }
  100% {
    left: 105%;
    top: 50%;
    transform: translate(0, -100px), scale(2);
  }

  50% {
    top: 10%;
    transform: translate(0, -100px), scale(2);
  }
}
