.header-image {
  width: 100%;
  box-shadow: 0px 5px 15px 1px rgb(45, 6, 9);
}

.logo-image {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  height: 180px;
  z-index: 3;
}

.sun-image {
  position: absolute;
  top: 170px;
  mix-blend-mode: normal;
  animation: floating;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.55, 0.35, 0.65, 0.96);
  height: 100px;
  width: auto;
  z-index: 2;
  transition: all 1s ease-in;
  transform: scale(2);
}
.sunDown-image {
  position: absolute;
  top: 170px;
  mix-blend-mode: normal;
  animation: floating;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.55, 0.35, 0.65, 0.96);
  height: 100px;
  width: auto;
  z-index: 2;
  transform: scale(2);
  cursor: default;
}
a.sun-image {
  display: block;
  opacity: 1;
  cursor: default;
}
a:hover .sun-image {
  visibility: hidden;
  opacity: 0;
  cursor: default;
  transition: all 0.5s ease-out;
}

@keyframes floating {
  0% {
    top: 200px;
    left: -13%;
  }
  100% {
    left: 105%;
    top: 200px;
    transform: translate(0, -100px), scale(2);
  }

  50% {
    top: 50px;
    transform: translate(0, -100px), scale(2);
  }
}
