h4 {
    color: white;
 margin: 0;
 font-family: Bell MT;
}

h1 {
    margin: 0;
    font-size: 3rem;
    font-family: Bell MT;
    font-weight: bolder;
   }

h2 {
    color:gray;
    margin: 0;
    font-family: Bell MT;
}