@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Schoolbell&display=swap');

h4 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color:rgb(255, 255, 255);
    text-shadow: red 0px 0px 5px;
    margin: 0;
}

h2 {
    font-family: 'Schoolbell', cursive;
    letter-spacing: 0.7rem;
    font-size: 4rem;
    color: white;
    margin: 0;
    text-align: center;
    -webkit-text-stroke: 0.1px black;

    /* text-shadow:  rgb(0 0 0) 0px 0px 2px; */
}

.landing-logo-image {
    height: 10rem;
    color: rgb(49, 155, 49);
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
    text-shadow: rgb(0 0 0) 0px 0px 5px;
    margin-top: 15px;
}

.landing-page-welcome-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.landing-page{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: brightness(100%);
    transition: 500ms;
}

.portal:hover{
    filter: brightness(125%);
    transition: 500ms;
}

.portal>img {
    object-fit: fill;
    height: 200px;
    width: 400px;
}

#char-text{
    font-family: 'Schoolbell', cursive;
    letter-spacing: 0.7rem;
    font-size: 25px;
    font-weight: 1000;
    color:rgb(255, 255, 255);
    text-shadow: rgb(0 0 0) 0px 10px 10px;
}

#loc-text{
    font-family: 'Schoolbell', cursive;
    letter-spacing: 0.7rem;
    font-size: 25px;
    font-weight: 1000;
    color:rgb(255, 255, 255);
    text-shadow: rgb(0 0 0) 0px 10px 10px;
}

.page-info{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: absolute;
    bottom: 1%;
    right: 10px;
}
.mrPB-1{
    width: 1.5%;
    cursor: pointer;
}

.mrPB-2{
    width: 2.3%;
    cursor: pointer;
}

.mrPB-1-clicked{
    font-family: 'Schoolbell', cursive;
    color: white;
    padding-right: 15px;
}