.loc-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.location-card-viewport {
    width: 240px;
    height: 240px;
    
    border: 1px solid white;
    box-shadow: 0 0 5px 2px rgb(254,195,29);
    border-radius: 1rem;
    margin: 15px 10px;
    overflow: hidden;
    transition: transform 500ms;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px black;
    position: relative;
    backdrop-filter: grayscale(100);
    transition: 500ms;
}

.location-card-viewport:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px rgb(254,195,29);
    transition: 500ms;
}

.location-card {
    height: 200%;
    display: flex;
    flex-direction: column;
    transition: .5s;
    position: relative;
}

.location-card::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("../images/card-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: hue-rotate(344deg) brightness(0.5) opacity(70%);
    z-index: 0;
    transition: 500ms;
}

.location-card:hover::before{
    filter: hue-rotate(344deg) brightness(0.65) opacity(85%);

}

.loc-main-info {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    position: relative;
    transition: 500ms;
}

.loc-main-info>div>.label {
    text-align: center;
}

.loc-name {
    box-shadow: 0 1px 15px 5px rgba(84, 58, 48, 0.945);
    border-bottom: 1px solid rgba(255, 255, 255, 0.422);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    min-height: 5rem;
    padding: 0 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    transition: 500ms;
}

.location-card-viewport:hover .loc-name{
    box-shadow: 0 1px 15px 1px rgba(254, 194, 29, 0.553);
    transition: 500ms;
}

.loc-dimension {
    font-size: medium;
    font-weight: 500;
    font-style: italic;
}

.loc-type {
    text-align: center;
    font-size:x-large;
    font-weight: bold;
}

.loc-more-info-div {
    height: 50%;
    overflow-y: auto;
    position: relative;
    transition: 500ms;
}

.loc-more-info-div>div>.label {
    text-align: center;
}

.resident-image {
    width: calc(100%/3 - 10px);
}

.residents-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.residents-box>* {
    margin: 5px;
}

