#location-title{
        position: absolute;
        top: 20%;
        width: 100%;
        text-align: center;
        font-size: 60px;
        font-weight: 800;
        height: fit-content;
        color: white;
        mix-blend-mode: overlay;
        -webkit-text-stroke: 2px black;
        letter-spacing: 25px;
        text-shadow: 2px 2px 2px black;
    }

.locations-page{
    background-color: rgba(0, 0, 0, 0.461);
}