.locHeader {
  position: fixed;
  top: 0px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 25rem;
  background-image: url("../images/Header.png");
  background-size: cover;
  background-position: center;
}
#location-title {
  margin-top: 2rem;
  font-size: 6.5vw;
  font-weight: 800;
  color: white;
  mix-blend-mode: overlay;
  -webkit-text-stroke: 2px black;
  letter-spacing: 2.5vw;
  text-shadow: 2px 2px 2px black;
  margin: 0;
  z-index: 8;
  transition: 500ms;
  cursor: default;
}
#location-title:hover,
#location-title:focus {
  text-shadow: 5px 5px 2px black;
  transition: 500ms;
}

.loc-logo-image {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  height: 120px;
  max-width: 80%;
  z-index: 3;
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.5s;
}
.loc-logo-image-invisible {
  opacity: 0;
  transition: opacity 0.5s;
}
.headRed {
  animation-name: floatingHeads;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  position: absolute;
  top: 7%;
  mix-blend-mode: normal;
  left: 75%;
  transform: rotate(-20deg) translate(-20%, 0);
  width: auto;
  height: 225px;
  z-index: 4;
  transition: all 1s ease-in;
}
.headBlue {
  animation-name: floatingHeads;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 60%;
  margin-top: 5px;
  position: absolute;
  top: 7%;
  mix-blend-mode: normal;
  left: 3%;
  height: 125px;
  transform: rotate(10deg);
  width: auto;
  z-index: 2;
  transition: all 1s ease-in;
}
.headYellow {
  animation-name: floatingHeads;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
  position: absolute;
  top: 15%;
  left: 8%;
  opacity: 90%;
  mix-blend-mode: normal;
  height: 200px;
  width: auto;
  z-index: 2;
  transition: all 1s ease-in-out;
}
.headGreen {
  animation-name: floatingHeads;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 55%;
  margin-top: 5px;
  position: absolute;
  top: 10%;
  mix-blend-mode: normal;
  left: 90%;
  height: 100px;

  width: auto;
  z-index: 2;
  transition: all 1s ease-in;
}
.headFront {
  animation-name: floatingHeads;

  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  position: absolute;
  top: 1%;
  height: 210px;
  mix-blend-mode: normal;
  left: 43%;
  transform: translate(-50%, 0);
  opacity: 75%;
  width: auto;
  z-index: 2;
  transition: all 1s ease-in;
}

@keyframes floatingHeads {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1000px) {
  .headRed {
    height: 45%;
  }
}
@media screen and (max-width: 1000px) {
  .headYellow {
    height: 45%;
    left: 5%;
  }
}
@media screen and (max-width: 1000px) {
  .headFront {
    height: 45%;
  }
}
@media (max-width: 1000px) {
  .headBlue {
    top: 1%;
    opacity: 0;
  }
}
@media screen and (max-width: 750px) {
  .headGreen {
    opacity: 0;
    top: 1%;
  }
}
@media screen and (max-width: 720px) {
  .headYellow {
    height: 40%;
    left: 1%;
  }
}
@media screen and (max-width: 610px) {
  .headYellow {
    opacity: 0;
    top: 1%;
  }
}
@media screen and (max-width: 610px) {
  .headRed {
    opacity: 0;
    top: 1%;
  }
}
@media screen and (max-width: 610px) {
  .headFront {
    height: 250px;
    top: 10%;
  }
}
