.header-image {
  width: 100%;
  box-shadow: 0px 5px 15px 1px rgb(45, 6, 9);
}

.logo-image {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  height: 180px;
  z-index: 3;
}

.headRed {
  animation-name: floatingHeads;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  position: absolute;
  top: 7%;
  mix-blend-mode: normal;
  left: 75%;
  transform: rotate(-20deg) translate(-20%, 0);
  width: auto;
  height: 250px;
  z-index: 4;
  transition: all 1s ease-in;
}
.headBlue {
  animation-name: floatingHeads;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 60%;
  margin-top: 5px;
  position: absolute;
  top: 7%;
  mix-blend-mode: normal;
  left: 7%;
  height: 125px;
  transform: rotate(10deg) translate(-10%, 0);
  width: auto;
  z-index: 2;
  transition: all 1s ease-in;
}
.headYellow {
  animation-name: floatingHeads;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
  position: absolute;
  top: 15%;
  left: 15%;
  opacity: 90%;
  mix-blend-mode: normal;
  height: 200px;
  width: auto;
  z-index: 2;
  transition: all 1s ease-in;
}
.headGreen {
  animation-name: floatingHeads;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 55%;
  margin-top: 5px;
  position: absolute;
  top: 10%;
  mix-blend-mode: normal;
  left: 90%;
  height: 100px;

  width: auto;
  z-index: 2;
  transition: all 1s ease-in;
}
.headFront {
  animation-name: floatingHeads;

  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
  position: absolute;
  top: 2%;
  mix-blend-mode: normal;
  right: 47%;
  opacity: 75%;
  width: auto;
  z-index: 2;
  transition: all 1s ease-in;
}

@keyframes floatingHeads {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
