.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 7px;
}

.MuiPaginationItem-ellipsis {
  color: white !important;
}

.css-r93niq-MuiButtonBase-root-MuiPaginationItem-root {
  color: white !important;
}

.css-1b2iw0b {
  width: 100% !important;
}
