html, body {
    margin: 0;
    background-color: rgb(28, 5, 55);
    color: chartreuse;
}

.character-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}

.character-Card {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 161, 64);
    border: 8px solid rgb(60, 7, 60);
    border-radius: 1rem;
    width: 240px;
    height: 340px;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin: 10px;
    margin-bottom: 17px;
    color: black;
    box-shadow: 3px 3px 15px 1px chartreuse;
    transition: 500ms;
}

.character-Card:hover{
    width: 250px;
    height: 350px;
    box-shadow: 5px 5px 15px 1px chartreuse;
    transition: 500ms;
}

.char-name{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 2px 15px 1px black;
    z-index: 1;
    position: relative;
}

.char-image{
    width:inherit;
    align-self: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 5px 15px 1px black;
    z-index: 0;
    position: relative;
    border: 3px solid rgb(60, 7, 60);
    transition: 500ms;
}

.character-Card:hover .char-image{
    width: 250px;
    border-radius: 1rem;
    transition: 500ms;
}

.char-image.status-dead{
    filter: grayscale(100%);
    transition: 500ms;
}

.char-image.status-dead:hover{
    filter: grayscale(0%);
    transition: 500ms;
}

/* .char-image.status-unknown{
    filter: invert(0%);
    transition: 500ms;
} */

.char-image.status-unknown{
    filter: invert(100%);
    border: 0;
    transition: 500ms; 
}

.char-image.status-unknown:hover{
    filter: invert(0%);
    border: 3px solid rgb(60, 7, 60);
    transition: 500ms;
}

.status-dead{
    color: rgb(95, 13, 13);
    text-decoration: line-through;
}

.status-unknown{
    color: rgb(58, 57, 57);
}

#character-title{
    width: 100%;
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    height: fit-content;
    border: 1px solid rgb(255, 255, 255);
}

#landing-image{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.pagination{
    width: 100%;
}

/* #char-button{
    position: absolute;
    z-index: 1;
    top: 500px;
    left: 390px;
    clip-path: circle(50%);
    height: 150px;
    width: 150px;
    background-image: radial-gradient(black 3%, white 15%, red 100%);
    cursor: pointer;
    color: antiquewhite;
    font-weight: 1000;
    font-size: 18px;
    -webkit-text-stroke: 1px black;
}

#char-button:hover{
    opacity: 70%;
}

#loc-button{
    position: absolute;
    z-index: 1;
    top: 472px;
    left: 565px;
    clip-path: circle(50%);
    height: 140px;
    width: 140px;
    background-image: radial-gradient(black 3%, white 15%, red 100%);
    cursor: pointer;
    -webkit-text-stroke: 1px black;
    font-size: 19px;
    font-weight: 1000;
    color: antiquewhite;
}

#loc-button:hover{
    opacity: 70%;
} */

.landing-page{
    margin: 0;
}

#title-text{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 20px;
    color: antiquewhite;
    font-weight: 800;
    font-size: 50px;
    -webkit-text-stroke: 1px black;
}